.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#quote-box {
  border: 3px solid black;
  padding: 3vw;
  min-width: 30vw;
  margin: 0 1em;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  clear:both;
}

#new-quote {
  width: auto;
}

#tweet-quote {
  float: left;
}


#author {
  float: right;
  margin-top: 0;
  margin-bottom: 2rem;
}

#tweet-quote {
  margin-right: 10%;
}


#share-buttons {
  width: 50%;
}



